.converter form{
    width: 50%;
}

.converter form .label{
    font-weight: bold;
    float: left;
    margin-top: 6px;
    margin-right: 10px;
}

.converter form .input-text{
    width: 100px;
}
.converter .loading {
    float:right;
}